@tailwind base;
@tailwind components;
@tailwind utilities;

.socialLogin {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialIconDiv {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.socialIconImg {
    width: 100%;
}